<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Local Shopping Fulda-{{.Region}}</title>
        <link rel="icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
    </head>

    <body>
        {{ if eq .Region "Nord" }}
            <a href="/"><h1 class="north">Local Shopping<br/>Fulda-{{.Region}}</h1></a>
        {{ else if eq .Region "Süd"}}
            <a href="/"><h1 class="south">Local Shopping<br/>Fulda-{{.Region}}</h1></a>
        {{ else }}
            <a href="/"><h1 class="west">Local Shopping<br/>Fulda-{{.Region}}</h1></a>
        {{ end }}

        <div id="filter">
            <input id="filterClothing" type="checkbox" onchange="checkFilters()">
            <label for="filterClothing" class="checkboxclothing"></label>
            <input id="filterTech" type="checkbox" onchange="checkFilters()">
            <label for="filterTech" class="checkboxtech"></label>
            <input id="filterFood" type="checkbox" onchange="checkFilters()">
            <label for="filterFood" class="checkboxfood"></label>
        </div>

        {{ if not .RegionItems}}
            <p>Aktuell sind hier keine Angebote.</p>
        {{ else }}
            {{ range $i, $item := .RegionItems }}
                <div class="item{{ $item.Kategorie }}" onload="compareItemsToLocalStorage('{{ $i }}', '{{ $item.Kategorie }}', '{{ $item.Angebot }}',  '{{ $item.Laden }}')">
                    <div class="imgWrapper">
                        {{ if eq $item.Kategorie "Essen" }}
                            <img src="/static/tp.png" id="foodImg">
                        {{ else if eq $item.Kategorie "Technik"}}
                            <img src="/static/tp.png" id="techImg">
                        {{ else if eq $item.Kategorie "Kleidung"}}
                            <img src="/static/tp.png" id="clothingImg">
                        {{ else }}
                        {{ end }}
                    </div>
                    
                    <div class="textWrapper">
                        <p>{{ $item.Angebot }}</p>
                        <p>{{ $item.Laden }}</p>
                    </div>

                    <div class="imgWrapper">
                        <button class="addItemBtn" id="addItemBtn{{ $i }}" onclick="addToLocalStorage('{{ $i }}', '{{ $item.Kategorie }}', '{{ $item.Angebot }}', '{{ $item.Laden }}')"></button>
                    </div>
                </div>
            {{ end }}
        {{ end }}
        
        <a href="/merkliste" class="merkliste"></a>

        <script type="text/javascript" src="/static/filter.js"></script>
        <script type="text/javascript" src="/static/localStorage.js"></script>
    </body>
</html>