<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Local Shopping Fulda-{{.Region}}</title>
        <link rel="icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
        <script type="text/javascript" src="/static/region.js"></script>
    </head>

    <body>
        <div id="header">
            <nav>
                <input type="checkbox" id="burgerbutton" onclick="changeUlDisplay()"/>
                <label for="burgerbutton" id="navIcon" class="burgerimage" title="Navigation">&#x2630;</label>
            </nav>

            {{ if eq .Region "Nord" }}
                <a href="/"><h1 class="north">Local Shopping<br/>Fulda-{{.Region}}</h1></a>
            {{ else if eq .Region "Süd"}}
                <a href="/"><h1 class="south">Local Shopping<br/>Fulda-{{.Region}}</h1></a>
            {{ else }}
                <a href="/"><h1 class="west">Local Shopping<br/>Fulda-{{.Region}}</h1></a>
            {{ end }}
        </div>
        <div id="content">
            <ul id="navList" style="display: none;">
                {{ if eq .Region "Nord" }}
                    <li><a href="/region/Süd" title="Süd" class="north">Fulda Süd</a></li>
                    <li><a href="/region/West" title="West" class="north">Fulda West</a></li>
                    <li><a href="/formular" title="Formular" class="north">Angebot hinzufügen</a></li>
                    <li><a href="/impressum" title="Impressum" class="li-round north">Impressum</a></li>
                {{ else if eq .Region "Süd"}}
                    <li><a href="/region/Nord" title="Nord" class="south">Fulda Nord</a></li>
                    <li><a href="/region/West" title="West" class="south">Fulda West</a></li>
                    <li><a href="/formular" title="Formular" class="south">Angebot hinzufügen</a></li>
                    <li><a href="/impressum" title="Impressum" class="li-round south">Impressum</a></li>
                {{ else if eq .Region "West"}}
                    <li><a href="/region/Nord" title="Nord" class="west">Fulda Nord</a></li>
                    <li><a href="/region/Süd" title="Süd" class="west">Fulda Süd</a></li>
                    <li><a href="/formular" title="Formular" class="west">Angebot hinzufügen</a></li>
                    <li><a href="/impressum" title="Impressum" class="li-round west">Impressum</a></li>
                {{ else }}
                    <li><a href="/region/Nord" title="Nord" class="west">Fulda Nord</a></li>
                    <li><a href="/region/Süd" title="Süd" class="west">Fulda Süd</a></li>
                    <li><a href="/region/West" title="West" class="west">Fulda West</a></li>
                    <li><a href="/formular" title="Formular" class="west">Angebot hinzufügen</a></li>
                    <li><a href="/impressum" title="Impressum" class="li-round west">Impressum</a></li>
                {{ end }}
            </ul>

            {{ if not .RegionItems}}
                <p>Aktuell sind hier keine Angebote.</p>
            {{ else }}
                <div id="filter">
                    <input id="filterClothing" type="checkbox" onchange="checkFilters()">
                    <label for="filterClothing" class="checkboxclothing"></label>
                    <input id="filterTech" type="checkbox" onchange="checkFilters()">
                    <label for="filterTech" class="checkboxtech"></label>
                    <input id="filterFood" type="checkbox" onchange="checkFilters()">
                    <label for="filterFood" class="checkboxfood"></label>
                    <form id="sortForm" method="get">
                        <select name="sort" class="selection" id="sortSelect" onchange="submitForm()">
                                <option value="newest" {{ if eq .Sort "newest" }}selected{{ end }}>neueste zuerst</option>
                                <option value="oldest" {{ if eq .Sort "oldest" }}selected{{ end }}>älteste zuerst</option>
                        </select>
                    </form>
                </div>

                {{ range $i, $item := .RegionItems }}
                    <div class="item{{ $item.Kategorie }}">
                        <div class="imgWrapper">
                            {{ if eq $item.Kategorie "Essen" }}
                                <img src="/static/tp.png" id="foodImg">
                            {{ else if eq $item.Kategorie "Technik"}}
                                <img src="/static/tp.png" id="techImg">
                            {{ else if eq $item.Kategorie "Kleidung"}}
                                <img src="/static/tp.png" id="clothingImg">
                            {{ else }}
                            {{ end }}
                        </div>

                        <div class="textWrapper">
                            <p>{{ $item.Angebot }}</p>
                            <p>{{ $item.Laden }}</p>
                        </div>

                        <div class="imgWrapper">
                            <button class="addItemBtn" id="addItemBtn{{ $item.ID }}" onclick="addToLocalStorage('{{ $item.ID }}', '{{ $item.Kategorie }}', '{{ $item.Angebot }}', '{{ $item.Laden }}'); animateAddToBasket('{{ $item.ID }}');"></button>
                        </div>
                    </div>
                    <div id="infoBox">

                    </div>
                {{ end }}
            {{ end }}

            <a href="/merkliste" class="merkliste"></a>
            <script type="text/javascript" src="/static/addToBasket.js"></script>
            <script type="text/javascript" src="/static/filter.js"></script>
            <script type="text/javascript" src="/static/localStorage.js"></script>

          <div class="footerRegions">
            {{ if eq .Region "Nord" }}
              <div class="footer-nord">
                <div class="footer-content">
                  <div class="footer-section about"><p><button class="Homebutton"> <a href="/">Home</a></button></p> </div>
                  <div class="footer-sextion text"> <p>Bachelorprojekt 2021 </p> </div>
                  <div class="footer-section home"><p><button class="Aboutbutton"> <a href="/Impressum">About</a></button></p>  </div>
                </div>
              </div>
            {{ else if eq .Region "Süd"}}
              <div class="footer-süd">
                <div class="footer-content">
                  <div class="footer-section about"><p><button class="Homebutton"> <a href="/">Home</a></button></p> </div>
                  <div class="footer-sextion text"> <p>Bachelorprojekt 2021 </p> </div>
                  <div class="footer-section home"><p><button class="Aboutbutton"> <a href="/Impressum">About</a></button></p>  </div>
                </div>
              </div>
            {{ else if eq .Region "West"}}
              <div class="footer">
                <div class="footer-content">
                  <div class="footer-section about"><p><button class="Homebutton"> <a href="/">Home</a></button></p> </div>
                  <div class="footer-sextion text"> <p>Bachelorprojekt 2021 </p> </div>
                  <div class="footer-section home"><p><button class="Aboutbutton"> <a href="/Impressum">About</a></button></p>  </div>
                </div>
              </div>
            {{ else }}
              <div class="footer">
                <div class="footer-content">
                  <div class="footer-section about"><p><button class="Homebutton"> <a href="/">Home</a></button></p> </div>
                  <div class="footer-sextion text"> <p>Bachelorprojekt 2021 </p> </div>
                  <div class="footer-section home"><p><button class="Aboutbutton"> <a href="/Impressum">About</a></button></p>  </div>
                </div>
              </div>
            {{ end }}

    </body>
</html>
