body {
    margin: 0px;
}

@font-face {
    font-family: "Lemon Milk";
    src: url("lemonmilk.woff") format("woff");
    font-display: swap;
}

h1 {
    margin: 0px;
    text-align: center;
    padding: 5%;
    font-family: "Lemon Milk";
    font-size: 4vw;
    user-select: none;
}

h2 {
    font-family: "Lemon Milk";
    font-size: 22px;
    user-select: none;
}

@media screen and (min-width: 1200px) {
    h1 {
       font-size: 48px;
       padding: 50px;
    }
  }

h1.north {
    background-color: #ff7ffe;
    color: white;
}

h1.south {
    background-color: #d5ff00;
    color: black;
}

h1.west {
    background-color: #000080;
    color: white;
}

a:link {
    outline: none;
    text-decoration: none;
}

a > h1 {
    transition: background-color 0.5s, color 0.5s;
}

a:hover > h1 {
    background-color: lightgray!important;
    color: black!important;
}

a.merkliste {
    position:absolute;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: transparent url(/static/icons.png) no-repeat 0 100%;
    transition: background-color 0.5s;
}

a.merkliste:hover {
    background-color: rgb(200, 255, 255);
}

p {
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    user-select: none;
}

#burgerbutton {
    display: none;
}

.burgerimage {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 28pt;
    cursor: pointer;
    color: black;
}

nav {
    background-color: #fff;
    display: block;
    height: 50px;
    border-bottom: 3px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

nav ul {
    display: none;
    position: fixed;
    top: 53px;
    margin: 0;
    padding: 0;
    width: 30%;
    list-style: none;
}

nav ul li {
    display: block;
    width: auto;
}

nav ul li a {
    /*text-decoration: none;*/
	font-family: 'Noto Sans JP', sans-serif;
    color: black;
    background-color: #fff;
    border-bottom: 1px solid black;
	border-right: 1px solid black;
    display: block;
    padding: 20px;
}

#li-round {
	border-radius: 0px 0px 30px 0px;
}

nav ul li a:hover {
    background-color: rgb(200, 255, 255);
    color: black;
}

#burgerbutton:checked ~ ul {
    display: block;
}

#noItemsStored {
    display: none;
}






area {
    outline: none;
}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}

#filter {
    width: 680px;
    height: 120px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#filterClothing, #filterTech, #filterFood {
    display: none;
}

.checkboxclothing{
    flex: 1;
    margin: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 100px;
    background: transparent url(/static/icons.png) no-repeat 0 0;
    transition: background-color 0.5s;
}

.checkboxclothing:hover {
    background-color: rgb(200, 255, 255);
}

.checkboxtech{
    flex: 1;
    margin: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 100px;
    background: transparent url(/static/icons.png) no-repeat 50% 0;
    transition: background-color 0.5s;
}

.checkboxtech:hover {
    background-color: rgb(200, 255, 255);
}

.checkboxfood{
    flex: 1;
    margin: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 100px;
    background: transparent url(/static/icons.png) no-repeat 100% 0;
    transition: background-color 0.5s;
}

.checkboxfood:hover {
    background-color: rgb(200, 255, 255);
}

#filterClothing:checked + .checkboxclothing{
    background: transparent url(/static/icons.png) no-repeat 0 50%;
}

#filterTech:checked + .checkboxtech{
    background: transparent url(/static/icons.png) no-repeat 50% 50%;
}

#filterFood:checked + .checkboxfood{
    background: transparent url(/static/icons.png) no-repeat 100% 50%;
}

.itemEssen {
    display: flex;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    border: 1px solid;
    border-radius: 100px;
    z-index: -1;
}

.itemKleidung {
    display: flex;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    border: 1px solid;
    border-radius: 100px;
    z-index: -1;
}

.itemTechnik {
    display: flex;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    border: 1px solid;
    border-radius: 100px;
    z-index: -1;
}

.imgWrapper {
    flex: 1;
    height: 120px;
    max-width: 120px;
}

.textWrapper {
    flex: 1;
    text-align: center;
    line-height: 30px;
}

button {
    outline: none;
    border: none;
    margin: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.addItemBtn {
    border-radius: 100px;
    background: transparent url(/static/icons.png) no-repeat 50% 100%;
    transition: background-color 0.5s;
}

.addItemBtn:hover {
    background-color: rgb(200, 255, 200);
}

.delItemBtn {
    border-radius: 100px;
    background: transparent url(/static/icons.png) no-repeat 100% 100%;
    transition: background-color 0.5s;
}

.delItemBtn:hover {
    background-color: rgb(255, 215, 200);
}

#foodImg {
    float: left;
    margin: 10px;
    width: 100px;
    height: 100px;
    user-select: none;
    background: transparent url(/static/icons.png) no-repeat 100% 0;
}

#techImg {
    float: left;
    margin: 10px;
    width: 100px;
    height: 100px;
    user-select: none;
    background: transparent url(/static/icons.png) no-repeat 50% 0;
}

#clothingImg {
    float: left;
    margin: 10px;
    width: 100px;
    height: 100px;
    user-select: none;
    background: transparent url(/static/icons.png) no-repeat 0 0;
}

#clearAllBtn {
    display: none;
    margin: 10px;
    height: 100px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    outline: none;
    border: 1px solid;
    border-radius: 100px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.5s;
}

#clearAllBtn:hover {
    background-color: rgb(255, 215, 200);
}

form {
    text-align: center;
}

#newPostBtn {
    margin: 10px;
    height: 100px;
    width: 300px;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    outline: none;
    border: 1px solid;
    border-radius: 100px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.5s;
}

#newPostBtn:hover {
    background-color: rgb(200, 255, 200);
}

#sortSelect {
    appearance: none;
    margin: 10px;
    height: 100px;
    width: 300px;
    outline: none;
    border: 1px solid;
    border-radius: 100px;
    background-color: transparent;
    cursor: default;
    text-align-last: center;
    font-family: "Lemon Milk";
    font-size: 22px;
    user-select: none;
    transition: background-color 0.5s;
}

#sortSelect:hover {
    background-color: rgb(200, 255, 255);
}


/*-------------------------------------------min-width: 500 !!!-----------------------------------*/
@media screen and (min-width: 500px) {
    .imageMapLarge {
        display: block;
    }

    .imageMapSmall {
        display: none;
    }
}

/*-------------------------------------------max-width: 700 !!!-----------------------------------*/
@media screen and (max-width: 700px) {
    .imageMapSmall {
        display: block;
    }

    .imageMapLarge {
        display: none;
    }
	nav ul {
    width: 40%;
	}
	
	h1 {
		margin-top: 40px;
	}
	
	p {
		text-align: center;
		margin: 20px;
		margin-top: 30px;
		font-size: 12px;
	}
	
	button {
		margin: 10px;
		width: 50px;
		height: 50px;
		margin-top: 50px;
		cursor: pointer;
	}
	
	.imgWrapper {
		width: 50px;
		height: 50px;	
	}
	
	.itemTechnik, .itemEssen, .itemKleidung {
		margin: 10px;
		margin-left: 0px;
		margin-right: 0px;
		max-width: 100%;
		border: 1px solid;
		border-radius: 0px;
	}
}