#newPostBtn {
    margin: 10px;
    height: 100px;
    width: 300px;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    outline: none;
    border: 1px solid;
    border-radius: 100px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.5s;
}

#newPostBtn:hover {
    background-color: rgb(200, 255, 200);
}

