body {
    overflow: hidden;
    margin: 0px;
}

html,body{overflow-y: scroll; }

@font-face {
    font-family: "Lemon Milk";
    src: url("lemonmilk.woff") format("woff");
    font-display: swap;
}

h1 {
    top: 10%;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: "Lemon Milk";
    font-size: 4vw;
    user-select: none;
}

h2 {
    font-family: "Lemon Milk";
    font-size: 22px;
    user-select: none;
}

@media screen and (min-width: 1200px) {
    h1 {
       font-size: 48px;
    }
}

.north {
    background-color: #ff7ffe;
    color: white;
}

.south {
    background-color: #d5ff00;
    color: black;
}

.west {
    background-color: #000080;
    color: white;
}

.header {
    position: relative;
    text-align: center;
}

a:link {
    outline: none;
    text-decoration: none;
}

a > h1 {
    transition: background-color 0.5s, color 0.5s;
}

a:hover > h1{
    background-color: lightgray!important;
    color: black!important;
}

a:hover {
    border: none;
    background-color: lightgray!important;
    color: black!important;
}

a.merkliste {
    position:fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: transparent url(/static/icons.png) no-repeat 0 100%;
    transition: background-color 0.5s;
}

a.merkliste:hover {
    background-blend-mode: luminosity;
    background-color: rgb(200, 255, 255)!important;
}

.li-round {
	border-radius: 0px 0px 30px 0px;
}

p {
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    user-select: none;
}

#burgerbutton {
    display: none;
}

.burgerimage {
    text-align: center;
    position: absolute;
    left: 40px;
    margin: 0;
    width: 100px;
    height: 100px;
    top: 25%;
    line-height: 100px;
    font-size: 28px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 100px;
    user-select: none;
}

nav {
    z-index: 100;
}

#navIcon {
    font-family: sans-serif;
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.7);
    transition: background-color 0.5s;
}

#navIcon:hover {
    background-color: lightgray;
}

ul {
    display: none;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 25%;
    list-style: none;
}

ul li {
    display: block;
    width: auto;
}

ul li a {
    text-decoration: none;
	font-family: 'Noto Sans JP', sans-serif;
    color: black;
    background-color: #fff;
    border-bottom: 1px solid;
	border-right: 1px solid;
    display: block;
    padding: 20px;
}

ul li a:hover {
    background-color: rgb(200, 255, 255);
    color: black;
}

#burgerbutton:checked ~ ul {
    display: block;
}

#noItemsStored {
    display: none;
}

@media screen and (min-width: 500px) {
    .imageMapLarge {
        display: block;
    }

    .imageMapSmall {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .imageMapSmall {
        display: block;
    }

    .imageMapLarge {
        display: none;
    }
	
    ul {
        width: 50%;
	}
}

area {
    outline: none;
}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}

#filter {
    width: 680px;
    height: 120px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#filterClothing, #filterTech, #filterFood {
    display: none;
}

.checkboxclothing{
    flex: 1;
    margin: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 100px;
    background: transparent url(/static/icons.png) no-repeat 0 0;
    transition: background-color 0.5s;
}

.checkboxclothing:hover {
    background-blend-mode: luminosity;
    background-color: rgb(200, 255, 255);
}

.checkboxtech{
    flex: 1;
    margin: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 100px;
    background: transparent url(/static/icons.png) no-repeat 50% 0;
    transition: background-color 0.5s;
}

.checkboxtech:hover {
    background-blend-mode: luminosity;
    background-color: rgb(200, 255, 255);
}

.checkboxfood{
    flex: 1;
    margin: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 100px;
    background: transparent url(/static/icons.png) no-repeat 100% 0;
    transition: background-color 0.5s;
}

.checkboxfood:hover {
    background-blend-mode: luminosity;
    background-color: rgb(200, 255, 255);
}

#filterClothing:checked + .checkboxclothing{
    background: transparent url(/static/icons.png) no-repeat 0 50%;
}

#filterClothing:checked + .checkboxclothing:hover{
    background-blend-mode: luminosity;
    background-color: rgb(255, 215, 200);
}

#filterTech:checked + .checkboxtech{
    background: transparent url(/static/icons.png) no-repeat 50% 50%;
}

#filterTech:checked + .checkboxtech:hover{
    background-blend-mode: luminosity;
    background-color: rgb(255, 215, 200);
}

#filterFood:checked + .checkboxfood{
    background: transparent url(/static/icons.png) no-repeat 100% 50%;
}

#filterFood:checked + .checkboxfood:hover{
    background-blend-mode: luminosity;
    background-color: rgb(255, 215, 200);
}

.formular {
    display: flex;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    border: 1px solid;
    border-radius: 100px;
}

.add {
    text-align: center;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    user-select: none;
}

.itemEssen {
    display: flex;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    border: 1px solid;
    border-radius: 100px;
    z-index: -1;
}

.itemKleidung {
    display: flex;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    border: 1px solid;
    border-radius: 100px;
    z-index: -1;
}

.itemTechnik {
    display: flex;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    border: 1px solid;
    border-radius: 100px;
    z-index: -1;
}

.imgWrapper {
    flex: 1;
    height: 120px;
    max-width: 120px;
}

.textWrapper {
    flex: 1;
    text-align: center;
    line-height: 30px;
}

button {
    outline: none;
    border: none;
    margin: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.addItemBtn {
    border-radius: 100px;
    background: transparent url(/static/icons.png) no-repeat 50% 100%;
    transition: background-color 0.5s;
}

#infoBox {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 5%;
    z-index: 100;
}

.addItemBtn:hover {
    background-color: rgb(200, 255, 200);
}

.delItemBtn {
    border-radius: 100px;
    background: transparent url(/static/icons.png) no-repeat 100% 100%;
    transition: background-color 0.5s;
}

.delItemBtn:hover {
    background-color: rgb(255, 215, 200);
}

#foodImg {
    float: left;
    margin: 10px;
    width: 100px;
    height: 100px;
    user-select: none;
    background: transparent url(/static/icons.png) no-repeat 100% 0;
}

#techImg {
    float: left;
    margin: 10px;
    width: 100px;
    height: 100px;
    user-select: none;
    background: transparent url(/static/icons.png) no-repeat 50% 0;
}

#clothingImg {
    float: left;
    margin: 10px;
    width: 100px;
    height: 100px;
    user-select: none;
    background: transparent url(/static/icons.png) no-repeat 0 0;
}

#clearAllBtn {
    display: none;
    margin: 10px;
    height: 100px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    outline: none;
    border: 1px solid;
    border-radius: 100px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.5s;
}

#clearAllBtn:hover {
    background-color: rgb(255, 215, 200);
}

form {
    text-align: center;
}

.newPostBtn {
    margin: 10px;
    height: 100px;
    width: 300px;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    outline: none;
    border: 1px solid;
    border-radius: 100px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.5s;
}

.newPostBtn:hover {
    background-color: rgb(200, 255, 200);
}

#sortSelect {
    appearance: none;
    margin: 10px;
    height: 100px;
    width: 300px;
    outline: none;
    border: 1px solid;
    border-radius: 100px;
    background-color: transparent;
    cursor: default;
    text-align-last: center;
    font-family: "Lemon Milk";
    font-size: 22px;
    user-select: none;
    transition: background-color 0.5s;
}

#sortSelect:hover {
    background-color: rgb(200, 255, 255);
}

a.ks {
    text-decoration:none;
    color:white;
 }  

.column h2{
    font-family: "Lemon Milk";
}

.column p{
    font-family: 'Noto Sans JP', sans-serif;
}

.column {
  float: left;
  width: 32.1%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }

  /* navigation layouting*/
  .burgerimage {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  text-align: left;
}

.email{
    text-align: left;
    font-size: 1.5vw;
}

.kontakt {
  margin-top: 15px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000080;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 50%;
}

.kontakt:hover {
    background-color: #0202a5;
  }

a.ks:hover{
    background-color: #0202a5 !important;
    color:white !important;
}

#gitLink {
    margin: auto;
    width: 150px;
    height: 150px;
}

#gitLink a:hover {
    background-color: transparent !important;
}

.selection {
    appearance: none;
    margin: 50px;
    height: 100px;
    width: 300px;
    outline: none;
    border: 1px solid;
    border-radius: 100px;
    text-align-last: center;
    font-family: "Lemon Milk";
    font-size: 22px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.5s;
}

.selection:hover {
    background-color: rgb(200, 255, 255);
}

.textfield {
    margin: 50px;
    width: 300px;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    font-family: "Noto Sans JP";
    font-size: 16px;
    cursor: text;
    user-select: none;
    transition: background-color 0.5s;
}

.textfield:hover {
    background-color: rgb(200, 255, 200);
}

